@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}


.active{
  color: #004733;
  border: #004733;
  border: 2px solid;
}

.nav-list{
  @apply hover:bg-white hover:text-black hover:rounded-3xl
}


.button{
  @apply border cursor-pointer md:text-base text-sm  border-gray-500 md:px-5 px-2 md:mt-0 mt-5 rounded-3xl py-2 hover:border-[#017848]  hover:text-[#017848] hover:shadow-[0_0_0_4px_inset] transition-all
}
.button1{
  @apply border cursor-pointer md:text-base text-sm  border-gray-500 md:px-10 px-2 font-medium rounded-lg py-2 hover:border-[#017848]  hover:text-[#017848] hover:shadow-[0_0_0_4px_inset] transition-all
}

.active{
 @apply border-[#017848] shadow-[0_0_0_4px_inset] text-[#017848]
}